
.topbar-profile-photo {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.link-symbols {
  color: black;
}

.stories-profile-photo {
  width: 60px;
  height: 60px;
  position: relative;
  border-width: 2px !important;
}

.main-profile-photo {
  width: 45px;
  height: 45px;
  position: relative;
  border-width: 2px !important;
}

.btn-commenting-main-post {
  right: 0;
  bottom: 0;
  top: 0;
  border: 0;
  color: #007bff;
  background-color: transparent;
  font-weight: 500;
}


.comments-section {
  border-top: 1px solid lightgrey;
}
